:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    padding: 0 12px;
    width: 320px;
}

h1 {
    display: block;
    font-size: 32px;
    margin-bottom: 0;
}

h2 {
    display: block;
    font-size: 14px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 20px;
}

#error {
    color: red;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
